<div ng-controller="sellerDashboardCtrl" class="col-lg-12">
    <div class="ibox">
        <div class="ibox-content">

            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10" style="margin-bottom: 0;">
                <thead>
                <tr>
                    <th data-toggle="true">Auction Name</th>
                    <th>Description</th>
                    <th>Item</th>
                    <th>Winning Bid</th>
                    <th>Buyer</th>
                    <th data-sort-ignore="true">View</th>
                </tr>
                </thead>
                <tbody >

                <tr ng-repeat="a in data.auctions track by a.auctionID">
                    <td>{{a.name}}</td>
                    <td>{{a.description}}</td>
                    <td>{{a.itemID}}</td>
                    <td> $ 200 </td>
                    <td>John Doe</td>
                    <td>
                        <a data-ui-sref="ecommerce.details({auctionid:{{a.auctionID}}})" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>