<!--SOLD SECTION-->
<div class="col-md-3" ng-repeat="i in data.items track by i.itemID">
    <div class="ibox">
        <div class="ibox-content product-box">

            <div class="product-imitation">
                [ INFO ]
            </div>
            <div class="product-desc">
                                            <span class="product-bid-sold">
                                                0 bids
                                            </span>
                                            <span class="product-sold">
                                                Sold for £10
                                            </span>
                <div class="row">
                    <div class="col-lg-12">
                        <small class="text-muted">{{ data.getCategoryOfItem(i) }}</small>
                        <a href="#" class="product-name">{{ i.name }}</a>
                    </div>
                </div>
                <!--<tr ng-repeat="i in data.items track by i.itemID">-->
                <!--<td>{{i.name}}</td>-->
                <!--<td>{{i.description}}</td>-->
                <!--<td>{{data.getCategoryOfItem(i)}}</td>-->
                <!--<td>{{data.getConditionOfItem(i)}}</td>-->
                <div class="small m-t-xs">
                    {{ i.description }}
                </div>

                <div class="m-t text-left">
                    <a href="#" class="btn btn-xs btn-outline btn-primary m-r-xs">View <i class="fa fa-long-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <button class="btn btn-danger btn-block"><i class="fa fa-arrow-down"></i> Show More</button>
</div>