    <div ng-controller="sellerDashboardCtrl" class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">

                <table class="footable table table-stripped toggle-arrow-tiny no-paging m-0" data-page-size="10">
                    <thead>
                    <tr>
                        <th data-toggle="true">Item Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Condition</th>
                        <th data-sort-ignore="true" class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody >

                    <tr ng-repeat="i in data.items track by i.itemID">
                        <td>{{i.name}}</td>
                        <td>{{i.description}}</td>
                        <td>{{data.getCategoryOfItem(i)}}</td>
                        <td>{{data.getConditionOfItem(i)}}</td>
                        <td class="text-right"><button ng-click="data.deleteItem(i.itemID)" class="btn btn-danger m-xs"><i class="fa fa-trash"></i></button>
                            <button ui-sref="seller.edititem({itemid:i.itemID})" class="btn btn-warning m-xs"><i class="fa fa-pencil-square-o"></i></button>
                            <button ng-click="data.createAuction()" class="btn btn-success m-xs"><i class="fa fa-gavel"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>