<!--ON SALE: AUCTIONS -->
<div  ng-controller="sellerDashboardCtrl">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">

                <table class="footable table table-stripped toggle-arrow-tiny m-0" data-page-size="10">
                    <thead>
                    <tr>
                        <th data-toggle="true">Auction Name</th>
                        <th>Item</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Starting Price</th>
                        <th>Instant Price</th>
                        <th>Reserve Price</th>
                        <th>Views</th>
                        <th class="text-right" data-sort-ignore="true">View</th>

                    </tr>
                    </thead>
                    <tbody >

                    <tr ng-repeat="auction in data.auctions track by auction.auctionID">
                        <td>{{auction[1]}}</td>
                        <td>{{auction[10]}}</td>
                        <td>{{auction[4]}}</td>
                        <td>{{auction[5]}}</td>
                        <td>£ {{auction[6]}}</td>
                        <td>£ {{auction[7]}}</td>
                        <td>£ {{auction[8]}}</td>
                        <td>172x</td>
                        <td class="text-right">
                            <a data-ui-sref="ecommerce.details({auctionid:{{auction.auctionID}}})" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="12" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                    </tfoot>

                </table>

            </div>
        </div>
    </div>
</div>

<!--<div class="col-lg-12">-->
    <!--<button class="btn btn-primary btn-block"><i class="fa fa-arrow-down"></i> Show More</button>-->
<!--</div>-->
