<div class="ibox-content m-b-sm border-bottom">
    <div class="text-center p-lg">
        <h2>Need our help?</h2>
        <span>Please visit our <a ui-sref="faq">FAQ page</a> or send us an email!</span>
    </div>
</div>

<div class="ibox-content m-b-sm border-bottom">
    <div class="text-center p-lg">
        <h2>Our contacts</h2>
        <span>Tobias  Buschel </span> <a href="mailto:tobias.buschel.15@ucl.ac.uk">tobias.buschel.15@ucl.ac.uk</a><br>
		<span>Kimeshan Naidoo </span> <a href="mailto:kimeshan.naidoo.15@ucl.ac.uk">kimeshan.naidoo.15@ucl.ac.uk</a><br>
		<span>Johnnie Kang</span> <a href="mailto:kimeshan.naidoo.15@ucl.ac.uk">jeong.kang.15@ucl.ac.uk</a>
    </div>
</div>

<div class="ibox-content m-b-sm border-bottom">
    <div class="text-center p-lg">
        <h2>About us</h2>
		<img src="https://www.ucl.ac.uk/visual-identity/logos/standalone.png"><br>
        <span>This website is for COMPGC06: Database and Information Management Systems project of MSc Computer Science at University College London(UCL).</span> 
    </div>
</div>
