<div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox-content m-b-sm border-bottom">
            <div class="text-center p-lg">
                <h2>If you don't find the answer to your question</h2>
                <span>Please</span>
                <button title="Create new cluster" class="bbtn btn-primary btn-sm" ui-sref="contactUs"> <span class="bold">Contact us</span></button>
            </div>
        </div>

        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a ng-click="faq1 = !faq1" class="faq-question">How do I register an account? </a>
                    <small>Answer added by <strong>Johnnie Kang</strong> <i class="fa fa-clock-o"></i> Today 2:40 pm - 24.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Robert Nowak</span>

                    <div class="tag-list">
                        <span class="tag-item">GENERAL</span>
                        <span class="tag-item">Account</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Voting </span><br/>
                    42
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div collapse="faq1" class="panel-collapse collapse">
                        <div class="faq-answer">
                            <p>
                                To register, go to the <a href="register">registration page,</a> and follow these steps:<br>
                                1.	Enter your information.<br>
                                You'll be asked to enter your name and email address, and to choose a password. If you're attempting to buy, sell, or contact a member, we may also ask you to provide contact information.  When you click Submit, your account will be created.<br>
                                2.	Review your confirmation.<br>
                                You'll see a confirmation message with your email address and an eBay username we've created for you. If you would like to change or correct any of your information, just go to My eBay, click the Account tab and go to Personal Information.
                                You're all set! We may need to ask you for a few more pieces of information as you start to buy, sell, or contact another member.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a ng-click="faq2 = !faq2" ng-init="faq2 = true" class="faq-question">I forgot my password.</a>
                    <small>Answer added by <strong>Johnnie Kang</strong> <i class="fa fa-clock-o"></i> Today 3:30 pm - 11.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Robert Nowak</span>

                    <div class="tag-list">
                        <span class="tag-item">General</span>
                        <span class="tag-item">Account</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Voting </span><br/>
                    24
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div collapse="faq2" class="panel-collapse collapse">
                        <div class="faq-answer">
                            <p>
                                You can find your password <a href="forgotPassword">here</a>. We'll send you an email with instructions on how to reset your password to the email address listed on your account.
                                If you can't access your email address or can't remember which email is registered on e-mart, contact us.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a ng-click="faq3 = !faq3" ng-init="faq3 = true" class="faq-question">How can I see my rating?</a>
                    <small>Answer added by <strong>Johnnie Kang</strong> <i class="fa fa-clock-o"></i> Yestorday 7:60 pm - 12.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Alex Berg</span>

                    <div class="tag-list">
                        <span class="tag-item">General</span>
                        <span class="tag-item">Rating</span>
                        <span class="tag-item">Interaction</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Voting </span><br/>
                    22
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div collapse="faq3" class="panel-collapse collapse">
                        <div class="faq-answer">
                            <p>
                                If you are a seller, you can see your rating at <a href="sellerDashboard">Seller Dashboard</a>.<br>
                                If you are a buyer, you can see your rating at <a href="buyerDashboard">Buyer Dashboard</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a ng-click="faq4 = !faq4" ng-init="faq4 = true" class="faq-question">How do I create an auction?</a>
                    <small>Answer added by <strong>Johnnie Kang</strong> <i class="fa fa-clock-o"></i> Today 2:43 pm - 22.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Robert Nowak</span>

                    <div class="tag-list">
                        <span class="tag-item">Auction</span>
                        <span class="tag-item">Selling</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Voting </span><br/>
                    65
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div collapse="faq4" class="panel-collapse collapse">
                        <div class="faq-answer">
                            <p>
                                In order to create an auction, you must first have a e-mart account. Once you are registered you can create an auction <a href="addListing">here</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a ng-click="faq5 = !faq5" ng-init="faq5 = true" class="faq-question">How do I revise a listing</a>
                    <small>Answer added by <strong>Johnnie Kang</strong> <i class="fa fa-clock-o"></i> Today 1:23 pm - 12.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Sandra Smith</span>

                    <div class="tag-list">
                        <span class="tag-item">Auction</span>
                        <span class="tag-item">Selling</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Voting </span><br/>
                    76
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div collapse="faq5" class="panel-collapse collapse">
                        <div class="faq-answer">
                            <p>
                                To revise a listing, select the item from your active seller dashboard page.
                                There are certain elements of listings that can't be changed. For example, your listings can't be changed to fixed price listings.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a ng-click="faq6 = !faq6" ng-init="faq6 = true" class="faq-question">How do I bid on auction items?</a>
                    <small>Answer added by <strong>Johnnie Kang</strong> <i class="fa fa-clock-o"></i> Today 7:220 pm - 13.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Robert Nowak</span>

                    <div class="tag-list">
                        <span class="tag-item">Auction</span>
                        <span class="tag-item">Buying</span>
                        <span class="tag-item">Help</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Voting </span><br/>
                    11
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div collapse="faq6" class="panel-collapse collapse">
                        <div class="faq-answer">
                            <p>
                                Once you've signed up for e-mart, you can bid real-time, participating in the auction as it happens.
                                Go to the <a href="product/ListingView">product list</a> on e-mart. You'll be redirected to a bidding page that will show your bid and the current high bid. If you've been outbid, and the auction is still going, you'll have the option to enter a higher bid up to your bidding limit. The bidding increases (or increments) are determined by the auction house.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a ng-click="faq7 = !faq7" ng-init="faq7 = true" class="faq-question"> What payment methods can I accept? </a>
                    <small>Answer added by <strong>Johnnie Kang</strong> <i class="fa fa-clock-o"></i> Yestorday 4:50 pm - 8.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Alex Nowak</span>

                    <div class="tag-list">
                        <span class="tag-item">International</span>
                        <span class="tag-item">What</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Voting </span><br/>
                    64
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div collapse="faq7" class="panel-collapse collapse">
                        <div class="faq-answer">
                            <p>
                                You can only choose to use card payment.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a ng-click="faq8 = !faq8" ng-init="faq8 = true" class="faq-question">I Have Received an Unfair Negative Rating, What Can I Do?</a>
                    <small>Answer added by <strong>Johnnie Kang</strong> <i class="fa fa-clock-o"></i> Today 1:30 am - 1.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Natalie Cole</span>

                    <div class="tag-list">
                        <span class="tag-item">Translations</span>
                        <span class="tag-item">CC</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Voting </span><br/>
                    10
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div collapse="faq8" class="panel-collapse collapse">
                        <div class="faq-answer">
                            <p>
                                The ratings system promotes freedom of speech on e-mart. Buyers and sellers are given the opportunity to respond to any ratings giving their side of the story for all to see. Normally we do not get involved in rating disputes. We encourage users to rate other users with respect to the experience they have while transacting.
                                If you feel that you have received an unfair rating or you have evidence of any abuse of the rating system, please contact us.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a ng-click="faq9 = !faq9" ng-init="faq9 = true" class="faq-question">How can sellers avoid transaction problems</a>
                    <small>Answer added by <strong>Johnnie Kang</strong> <i class="fa fa-clock-o"></i> Today 1:60 pm - 11.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Alex Nowak</span>

                    <div class="tag-list">
                        <span class="tag-item">General</span>
                        <span class="tag-item">License</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Voting </span><br/>
                    23
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div collapse="faq9" class="panel-collapse collapse">
                        <div class="faq-answer">
                            <p>
                                Represent the items you're selling fairly and accurately.<br>
                                Clearly state your return policy in your listing.<br>
                                Respond promptly to buyer questions.<br>
                                Review your buyer's Feedback.<br>
                                Use extra caution with unknown or new buyers and unusual bidding activity.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
