<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <h2>
                {{data.srLength}} results found for: <span class="text-navy">{{ data.searchterm }}</span>
            </h2>
            <div ng-repeat="result in data.searchResults">
                <div class="hr-line-dashed"></div>
                <div class="search-result">
                    <div class="row">
                        <h3>
                            <div class="col-xs-8">
                                <a data-ui-sref="ecommerce.details({auctionid:{{result[0]}}})">{{result.name}}</a>
                            </div>

                            <div class="col-xs-4">
                                <h2 class="primary">£ {{result.auctionPrice}}</h2>
                            </div>
                        </h3>
                    </div>

                    <p class="text muted">{{result.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
