<div class="col-md-3" ng-repeat="(key,auction) in data.auctions track by $index">
    <div class="ibox">
        <div class="ibox-content product-box">

            <div class="product-imitation">
                [ INFO ]
            </div>
            <div class="product-desc">
                        <span class="product-bookmark">
                             <button type="button" data-ng-click="data.addBookmark(auction.auctionID)"><i class="fa fa-bookmark-o"></i></button>
                        </span>

                        <span class="product-price">
                            £{{auction.bidPrice}}
                        </span>
                        <span class="product-bid">
                            2 bids
                        </span>


                <small class="text-muted">Category</small>
                <a class="product-name">{{auction.name}}</a>



                <div class="small m-t-xs">
                    {{auction.description}}
                </div>
                <div class="small m-t-xs">
                    End Date: {{auction.endDate}}
                </div>
                <div class="m-t text-righ">

                    <a data-ui-sref="viewbid({id:{{auction.auctionID}}, other:'{{auction.name}}'})" class="btn btn-xs btn-outline btn-primary">Bid History </a>
                    <a data-ui-sref="buyer.createbid({id:{{auction.auctionID}}, other:'{{auction.name}}'})" class="btn btn-xs btn-outline btn-primary">Create Bid </a>
                </div>
            </div>
        </div>
    </div>
</div>
