<h3>Register - Account Type</h3>
<br>
<select class="form-control m-b" name="countries" data-ng-model="register.country" data-ng-required="true">
    <option value="" disabled selected>Select your country</option>
    <option ng-repeat="country in countries">{{country.name}}</option>
</select>
<div class="form-group"
     data-ng-class="{'has-success': registerForm.phonenumber.$valid, 'has-error': registerForm.phonenumber.$invalid && registerForm.phonenumber.$dirty}">
    <input type="number" name="phonenumber" class="form-control" placeholder="Phone Number"
           data-ng-model="register.phonenumber"
           data-ng-minlength="5"
           data-ng-maxlength="15"
           data-ng-trim="false"
           data-ng-required="true">
    <span ng-show="registerForm.phonenumber.$invalid && registerForm.phonenumber.$dirty" class="help-block m-b-none has-error">Your phone number is not valid.</span>
</div>

<div class="checkbox i-checks"><label><input type="checkbox" data-ng-required="true"><i></i> Accept the terms and conditions </label></div>


<p>What kind of account would you like to register?</p>
<div class="form-group">
     <label class="checkbox-inline">
            <input type="radio" name="userType" icheck ng-model="register.usertype" value="buyer">&nbsp;&nbsp;Buyer
     </label>
    <label class="checkbox-inline">
        <input type="radio" name="userType" icheck ng-model="register.usertype" value="seller">&nbsp;&nbsp;Seller
    </label>
</div>

<button type="submit" class="btn btn-primary block full-width m-b">Register Account</button>
<a class="btn btn-sm btn-white btn-block" ui-sref="register2">Previous</a>

