<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>FAQ</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Frequently asked questions</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="" class="btn btn-primary btn-sm">Contact us</a>
        </div>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInRight">

<div class="ibox-content m-b-sm border-bottom">
    <div class="text-center p-lg">
        <h2>Need our help?</h2>
        <span>Please visit our <a href="faq">FAQ page</a> or contact us</span>
    </div>
</div>

<div class="ibox-content m-b-sm border-bottom">
    <div class="text-center p-lg">
        <h2>Our contacts</h2>
        <span>Tobias  Büschel </span> <a href="mailto:tobias.buschel.15@ucl.ac.uk">tobias.buschel.15@ucl.ac.uk</a><br>
		<span>Kimeshan Naidoo </span> <a href="mailto:kimeshan.naidoo.15@ucl.ac.uk">kimeshan.naidoo.15@ucl.ac.uk</a><br>
		<span>Johnnie Kang</span> <a href="mailto:kimeshan.naidoo.15@ucl.ac.uk">jeong.kang.15@ucl.ac.uk</a>
    </div>
</div>

<div class="ibox-content m-b-sm border-bottom">
    <div class="text-center p-lg">
        <h2>About us</h2>
		<img src="https://www.ucl.ac.uk/visual-identity/logos/standalone.png"><br>
        <span>This website is for COMPGC06: Database and Information Management Systems project of MSc Computer Science at University College London(UCL).</span> 
    </div>
</div>