<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Extra Pages</a>
            </li>
            <li class="active">
                <strong>Profile</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">

        <!--USER PROFILE SECTION-->
        <div class="col-md-4">
            <div class="widget-head-color-box navy-bg p-lg m-0 text-center">
                <div class="m-b-md">
                    <h2 class="font-bold no-margins">
                        {{ user.firstName + " " + user.lastName }}
                    </h2>
                    <small>{{ user.userName }}</small>
                </div>
                <img src="{{ user.twProfileImage }}" class="img-circle circle-border m-b-md" alt="profile">
                <div>
                    <p><i class="fa fa-calendar m-r-sm"></i>{{ user.userType }} since {{ user.dateRegistered | date:"MMMM yyyy" }}
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-content profile-content">
                    <div ng-repeat="rating in ratings" class="text-center">
                        <div star-rating rating-value="rating.current" max="rating.max" rating-total="rating.total"></div>
                    </div>
                    <div class="text-center">
                        <a data-ng-click="viewOnSale = false; viewRating = true; viewSold = false;">View All Ratings</a>
                    </div>
                    <hr>
                    <h4><strong>About me</strong></h4>
                    <p><i class="fa fa-map-marker m-r-sm"></i>&nbsp;{{ user.city }}</p>
                    <p><i class="fa fa-calendar m-r-sm"></i>{{ user.userType }} since {{ user.dateRegistered | date:"MMMM yyyy" }}</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitat.
                    </p>
                    <hr>
                    <div class="user-button">
                        <div class="row text-center">
                            <div class="col-md-6">
                                <button data-ng-click="viewOnSale = true; viewRating = false; viewSold = false;" type="button" class="btn btn-primary btn-md btn-block"><i class="fa fa-shopping-cart"></i> On Sale</button>
                                <h5><strong>169</strong> items</h5>
                            </div>
                            <div class="col-md-6">
                                <button data-ng-click="viewSold = true; viewOnSale = false; viewRating = false;" type="button" class="btn btn-danger btn-md btn-block"><i class="fa fa-times-circle"></i> Sold</button>
                                <h5><strong>28</strong> items</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--RATING SECTION-->
        <div class="col-md-8" ng-if="viewRating">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User Ratings</h5>
                </div>
                <div class="ibox-content">

                    <div>
                        <div class="feed-activity-list">
                            <div class="feed-element">
                                <a href="" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a5.jpg">
                                </a>

                                <div class="media-body ">
                                    <small class="pull-right">2h ago</small>
                                    <strong>Kim Smith</strong> posted message on <strong>Monica Smith</strong> site. <br>
                                    <small class="text-muted">Yesterday 5:20 pm - 12.06.2014</small>
                                    <div class="well">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>

                    </div>

                </div>
            </div>

        </div>

        <!--ON SALE SECTION-->
        <div class="col-md-8" ng-if="viewOnSale">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Products On Sale</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                            <div class="col-md-6" ng-repeat="i in data.items track by i.itemID">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-bid">
                                                0 bids
                                            </span>
                                            <span class="product-price">
                                                £10
                                            </span>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <small class="text-muted">{{ data.getCategoryOfItem(i) }}</small>
                                                    <a href="#" class="product-name">{{ i.name }}</a>
                                                </div>
                                                <div class="col-lg-6 text-right">
                                                    <timer data-ng-if="true" countdown="100410" max-time-unit="'hour'" interval="1000">{{hhours}} hour{{hoursS}}, {{mminutes}} minute{{minutesS}}</timer>
                                                    <timer data-ng-if="false" countdown="100410" max-time-unit="'minute'" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer>
                                                    <timer data-ng-if="false" countdown="100410000" max-time-unit="'day'" interval="1000">{{ddays}} day{{daysS}}, {{hhours}} hour{{hoursS}}</timer>
                                                </div>
                                            </div>
                                            <!--<tr ng-repeat="i in data.items track by i.itemID">-->
                                                <!--<td>{{i.name}}</td>-->
                                                <!--<td>{{i.description}}</td>-->
                                                <!--<td>{{data.getCategoryOfItem(i)}}</td>-->
                                                <!--<td>{{data.getConditionOfItem(i)}}</td>-->
                                            <div class="small m-t-xs">
                                                {{ i.description }}
                                            </div>

                                            <div class="m-t text-left">
                                                <a href="#" class="btn btn-xs btn-outline btn-primary m-r-xs">View <i class="fa fa-long-arrow-right"></i> </a>
                                                <a href="#" class="btn btn-xs btn-outline btn-success">Bookmark <i class="fa fa-bookmark"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    <button class="btn btn-primary btn-block"><i class="fa fa-arrow-down"></i> Show More</button>
                </div>
            </div>
        </div>

        <!--SOLD SECTION-->
        <div class="col-md-8" ng-if="viewSold">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Products Sold</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6" ng-repeat="i in data.items track by i.itemID">
                            <div class="ibox">
                                <div class="ibox-content product-box">

                                    <div class="product-imitation">
                                        [ INFO ]
                                    </div>
                                    <div class="product-desc">
                                            <span class="product-bid-sold">
                                                0 bids
                                            </span>
                                            <span class="product-sold">
                                                Sold for £10
                                            </span>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small class="text-muted">{{ data.getCategoryOfItem(i) }}</small>
                                                <a href="#" class="product-name">{{ i.name }}</a>
                                            </div>
                                        </div>
                                        <!--<tr ng-repeat="i in data.items track by i.itemID">-->
                                        <!--<td>{{i.name}}</td>-->
                                        <!--<td>{{i.description}}</td>-->
                                        <!--<td>{{data.getCategoryOfItem(i)}}</td>-->
                                        <!--<td>{{data.getConditionOfItem(i)}}</td>-->
                                        <div class="small m-t-xs">
                                            {{ i.description }}
                                        </div>

                                        <div class="m-t text-left">
                                            <a href="#" class="btn btn-xs btn-outline btn-primary m-r-xs">View <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block"><i class="fa fa-arrow-down"></i> Show More</button>
                </div>
            </div>
        </div>

    </div>
</div>